name: Deploy Terraform Infrastructure

on:
  workflow_dispatch:   # Manual trigger

jobs:
  deploy:
    name: Terraform Apply
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build Lambda ZIP
        working-directory: lambda
        run: |
          cd lambda
          zip -r ../lambda.zip .
          cd ..

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Apply
        working-directory: infra
        run: terraform apply -auto-approve  
      - name: Upload Lambda ZIP Artifact
        uses: actions/upload-artifact@v4
        with:
          name: lambda-zip
          path: lambda/lambda.zip
